                    <!-- START ITEM -->
                    <div ng-repeat="item in news" class="card share share-other col1" data-social="item">
                        <div ng-if="item.image" class="card-content">
                            <a ng-if="item.largeImage" href="{{item.largeImage}}" target="_blank"><img src="{{item.image}}"></a>
                            <a ng-if="!item.largeImage" href="{{item.image}}" target="_blank"><img src="{{item.image}}"></a>
                        </div>
                        <div class="card-description">
                            <p>{{item.message}}</p>
                        </div>
                        <div ng-if="item.links && item.links.length>0" class="card-footer clearfix">
                            <div ng-repeat="link in item.links"><a href="{{link.url}}" target="_blank">{{link.text}}</a></div>
                        </div>
                    </div>
                    <!-- END ITEM -->