body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
/*
0060ac - light blue
#01538D - Dark blue
1F8CDF - UN Blue
*/
body a{ 
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Lato', sans-serif;
}
/*p{
	margin:0; 
}
p {
    font-size: 1em;
    color: #999;
    line-height: 2em;
    font-weight: 300;
}*/
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.note.note-info {
    background-color: #E0EBF9;
    border-color: #327ad5;
    color: #327ad5;
}
.note {
    padding: 10px 11px 10px 11px;
    border-left: 5px solid #eee;
    border-radius: 0;
}
.note h4 {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #327ad5;
}

/*-- header --*/
.header { 
    width: 100%;
    padding: 1.5em 0;
    background: rgba(0, 0, 0, 0.09);
    border-top: 4px solid #1F8CDF;   
}
.header_2 {
    padding: 1.5em 0;
    background-color: #8acdea;
}
.header nav.navbar.navbar-default {
    background: transparent;
    margin: 0;
	z-index: 9999;
	border: none;
}
.header ul.nav.navbar-nav.navbar-left {
    margin-left: 18%;; 
}
.header ul.nav.navbar-nav{ 
	padding-top:1.3em;
}
.header .navbar-nav { 
    text-align: center;
    display: inline-block;
}
/*-- top-nav --*/ 
.header .navbar-nav li { 
	float: none;
    display: inline-block;
	margin:0 1.5em;
}
.header .nav.navbar-nav.navbar-left li a {
    color: #fff !important;
    font-size: 1.2em;
    padding: 0;
    position: relative; 
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
	font-weight: 300;
}
.header .nav.navbar-nav.navbar-left li  a:hover,.nav.navbar-nav.navbar-left li.open  a.dropdown-toggle,.nav.navbar-nav.navbar-left li  a.active {
    color: #1F8CDF !important;
	outline: none;
} 
.header .nav.navbar-nav.navbar-left li a:focus {
    outline: none;
}
.hover_effect:after {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden; 
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0);
	bottom: -3px;
	content: " ";
	display: block;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 280ms ease-in-out;
	-moz-transition: all 280ms ease-in-out;
	-o-transition: all 280ms ease-in-out;
	-ms-transition: all 280ms ease-in-out;
	transition: all 280ms ease-in-out;
	width: 0;
}

.hover_effect:hover:after,.navbar-default .navbar-nav li a.active:after {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-color: #1F8CDF;
	-webkit-transition: width 350ms ease-in-out;
	-moz-transition: width 350ms ease-in-out;
	-o-transition: width 350ms ease-in-out;
	-ms-transition: width 350ms ease-in-out;
	transition: width 350ms ease-in-out;
	width: 100%;
} 
.header .nav.navbar-nav.navbar-left li a.dropdown-toggle { 
    color:#fff; 
	border: none;
} 
.header .nav.navbar-nav.navbar-left li.open a.dropdown-toggle ,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#1F8CDF;
    background: none; 
}
.header ul.dropdown-menu {
    background: transparent;
    border-color: #909090;
	-moz-animation: fadeInDown .3s ease-in;
    -webkit-animation: fadeInDown .3s ease-in;
	-o-animation: fadeInDown .3s ease-in;
	-ms-animation: fadeInDown .3s ease-in;
    animation: fadeInDown .3s ease-in;
	background: #29232b; 
	top:163%;
	min-width: 135px;
} 
.header .navbar-nav > li > .dropdown-menu li {
    display: block;
    margin: 1em 0;
}  
.header .nav.navbar-nav.navbar-left li ul.dropdown-menu li a {
    font-size: 1em;
    text-align: center; 
    font-weight: 300;
} 
.header .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { 
    background-color: transparent;
}
/*-- top-social icon --*/ 
.social_icon.navbar-left{ 
    margin: 0;
}
.social_icon {
    float: right;
    margin-top:0.8em;
}
.social_icon a {
    font-size: 1.3em;
    color: #fff;
    margin: 0 .7em;
    display: inline-block;
    text-align: center;
	line-height: 2.2em;
} 
.social_icon a:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform: scale(1.3);
}
.social_icon .social_button_facebook:hover {
    color: #3b5998;
}
.social_icon .social_button_twitter:hover {
    color: #55acee;
}
.social_icon .social_button_medium:hover {
    color: #17aa1c;
}
/*-- campaign button --*/ 
.social_icon .campaign {
    background-color: #EDBB47;
    padding: 5px 13px;
    border-radius: 4px;
    margin-top:0.7em;
    /*float: right;*/
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border: 2px solid transparent;
}
.social_icon .campaign:hover {
    color: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #EDBB47;
    background-color: transparent;
}
.social_icon .campaign:focus {
    outline: none;
    text-decoration: none;
}
/*-- banner --*/ 
.banner{ 
    background:url(../img/banner.jpg)no-repeat center bottom;
    background-position: 0 -100px;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover;
    -ms-background-size:cover;  
    background-size:cover;
    min-height: 700px;
    position:relative;
}
/*-- banner-text --*/ 
.banner-text {
    margin-top: 15em;
}
.banner_text {
    padding: 1em;
	text-align: center;
}
.banner_text h2 ,.banner_text h3{
    font-size: 3em;
    color: #fff; 
	text-align: center;
	font-family: 'Lato', sans-serif;
    text-shadow: 0 0px 1px rgba(0,0,0,.35),0 3px 3px rgba(0,0,0,.4);
} 
.banner_text p {
    font-size: 1.25em;
    color: #fff;
    text-align: center; 
    width: 55%;
    margin: 1em auto 0;
    text-shadow: 0 0px 1px rgba(0,0,0,.2),0 3px 3px rgba(0,0,0,.15);
}
.scroll_down {
    text-align: center;
    /*background-color: red;*/
    padding: 0;
    margin:0;
}
.scroll_down a:focus {
    outline: none;
}
.arrow_down .fa-angle-down {
    /*font-weight: 300;*/
    color: rgba(255, 255, 255, 0.7);
}
.arrow_down {
    font-size: 70px;
}

/*-- responsive-design header, top_nav, banner, banner_text --*/
@media(max-width:1440px){

}
@media(max-width:1366px){
    
}
@media(max-width: 1300px){
    .banner {
        background-position: 0 -80px;
    }  
}
@media(max-width: 1230px){
    .banner {
        background-position: 0 -70px;
    }  
}
@media(max-width: 1182px){
    .banner {
        background-position: 0 -50px;
    }
} 
@media(max-width: 1107px){
    .banner {
        background-position: 0 -20px;
    }
}
@media(max-width:1080px){
    .social_icon a { 
        margin: 0 .4em; 
    }
    .header ul.nav.navbar-nav.navbar-left{
        margin-left: 14%;
    }
    .banner_text p { 
        width: 65%; 
    }
    .banner { 
        background-position: 0 0;
        min-height: 700px; 
    }
    .banner-text {
        margin-top: 17em;
    }
    .banner_text h2, .banner_text h3 {
        font-size: 2.7em; 
    }
    .arrow_down {
        font-size: 65px;
    }
} 

@media(max-width:991px){
    .header .navbar-header h1 {
        font-size: 2.8em; 
    } 
    .header .navbar-nav li { 
        margin: 0 1em;
    }
    .header ul.nav.navbar-nav.navbar-left{
        margin-left: 5%;
    }
    .banner_text p {
        width: 80%;
    }
    .banner-text {
        margin-top: 14em;
    }
    .arrow_down {
        font-size: 60px;
    }
    /*-- Campaign --*/
    .social_icon .campaign {
        padding: 3px 8px;
    }
}
@media(max-width:800px){
    .banner {
        min-height: 630px;
    }
    .banner-text {
        margin-top: 11em;
    }
    .banner_text h2, .banner_text h3 {
        font-size: 2.5em;
    }
    .arrow_down {
        font-size: 56px;
    }
}  
@media(max-width:768px){
    .navbar-nav li {
        margin: 0 0.8em;
    }
    .navbar-header {
        margin: 0 !important;
    }
    .header .navbar-header h1{
        font-size: 2.5em;
    }
    .banner_text h2, .banner_text h3 {
        font-size: 2.2em;
    }
    .banner.about-banner .banner-text {
        margin-top: 2.5em;
    }
    .arrow_down {
        font-size: 54px;
    }
}
@media(max-width:767px){
    .header {
        padding: 1.5em 1em;
    }
    .header ul.nav.navbar-nav.navbar-left {
        margin: 0;
        display: block;
    } 
    .header .nav.navbar-nav.navbar-left li a { 
        font-size: 1.1em; 
        padding:.2em 0;
    }
    .header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        background: #000;
    }
    .header .navbar-default .navbar-toggle {
        /*border-color: #1F8CDF;
        background: #1F8CDF;*/
        border-color: transparent;
        background: transparent;
        margin:8px 0 0;
    }
    .header.navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    .header .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    } 
    .header .navbar-nav > li {
        margin: 0;
        display: block;
        padding-top: 0.8em;
    } 
    div#burger {
        background: rgba(0, 0, 0, 0.83);
        margin: 0;
        padding: 0;
        position: absolute;
        width: 95%;
        z-index: 10001; 
        margin-top: 1.5em;
    }
    .header .navbar-default .navbar-nav > li > a:before {
        width: 0;
        display:none;
    }
    .header ul.nav.navbar-nav.navbar-left {
        margin: 0;
        display: block;
    }
    .header .navbar-nav > li > .dropdown-menu li { 
        margin: 0;
    }
    .header .navbar-nav > li > .dropdown-menu li:nth-child(1) { 
        margin: 1em 0;
    }
    .social_icon {
        float: none;
        margin: 0.5em 0 1.3em;
        text-align: center;
    }
    .banner {
        min-height: 570px;
    }
    .banner-text {
        margin-top: 11em;
    }
    .banner_text h2, .banner_text h3 {
        font-size: 2em;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff; /*1F8CDF*/
    }
    .arrow_down {
        font-size: 50px;
    }
    /*-- Campaign --*/
    .social_icon .campaign {
        padding: 1px 4px;
        margin-bottom: 1em;
    }
}

@media(max-width:480px){
    .banner_text p {
        width: 85%;
        font-size: 1em;
    }
    .banner {
        min-height: 500px;
    }
    .banner-text {
        margin-top: 9em;
    }

    div#burger { 
        width: 93%; 
    }
}
@media(max-width:414px){
    .header .navbar-header h1{
        font-size: 2.2em;
    }
    .header {
        padding: 1.5em 0.5em 1em;
    }
    div#burger { 
        width: 92%; 
    } 
    p {
        font-size: 0.9em; 
    }
    .banner-text {
        margin-top: 10em;
    }
    .banner_text p {
        width: 90%;
    }
}  
@media(max-width:375px){
    .banner-text {
        margin-top: 9em;
    }
    .banner_text p {
        width: 100%;
    }
}
@media(max-width:320px){
    .header {
        padding: 1em 0 0.5em;
    }
    .header .navbar-default .navbar-toggle { 
        margin: 6px 0 0;
    }
    .banner_text h2, .banner_text h3 {
        font-size: 1.5em;
    }
    .banner {
        min-height: 440px;
    }
    .banner_text p {
        width: 95%;
        font-size: 0.9em;
    }
    .banner-text {
        margin-top: 9em;
    } 
    div#burger {
        width: 90%;
        margin-top: 1em;
    }
}
/*-- Section Title --*/
.section_title {
    margin: 0 0 2em;
}
.section_title h2 {
    font-size: 2.6em;
    color: #212121; 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.section_title h2::before {
    margin-right: 15px;
}
.section_title h2::after {
    margin-left: 15px;
}
.section_title h2::before, .section_title h2::after {
    content: "";
    position: relative;
    width: 100px;
    height: 1px;
    top: -10px;
    display: inline-block;
    background: #212121;
    overflow: hidden;
}
@media (max-width:767px){
    .section_title h2 {
        font-size: 2.4em;
    }
    .section_title h2::before, .section_title h2::after {
        width: 70px;
    }
}
@media (max-width:640px){
    .section_title h2 {
        font-size: 2.1em;
    }
    .section_title h2::before, .section_title h2::after {
        width: 50px;
    }
}
@media (max-width:360px){
    .section_title h2::before, .section_title h2::after {
        width: 30px;
    }
}
/*--Course Section--*/
.course_section {
    min-height: 700px; 
    padding: 6em 0 5em;
    background-color: #fff;
}
.course_section h2 {
    text-align: center;
    position: relative;
}
.course_section .see_more_section {
    margin: 3em 0 1em;
    text-align: center;
}
.course_section .see_more_section .see_all {
    padding: 11px 30px;
    display: block;
    text-align: center;
    background-color: #1F8CDF;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
    line-height: 1.5;
}
.course_section .see_more_section .see_all:hover {
    background-color: #0060ac;
}
.course_section .see_more_section .see_all:focus {
    outline: none;
    text-decoration: none;
}
/*-- Cards --*/
.card_group:after,.card_group:before {
    content:" ";
    display:table;
}
.card_group:after{
    clear:both;
}
.card_group li{
    float:left;
    vertical-align:top
}
.card_group {
    list-style: none;
    margin: 0;
    padding: 0;
}
.card {
    width: 270px;
    margin: 20px 0 0 20px;
    list-style: none;
}
.card:nth-child(4n+1) {
    clear: left;
    margin-left: 0;
}
.card a {
    background: #fff;
    min-height: 340px;
    box-shadow: 0 0px 1px rgba(0,0,0,.2),0 3px 3px rgba(0,0,0,.15);
}
.card a:hover {
    box-shadow: 0 7px 18px 0.5px rgba(0,0,0,.28);
    opacity:.8
}
.card a:focus {
    text-decoration: none;
    outline: none;
}
.card img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.card .card_details {
    padding: 10px;
}

.card .card_title {
    font-size: 18px;
    color: #16222d;
    /*display: block;*/
    line-height: 1.2;
    font-weight: 400;
}
.card .card_subtitle {
    color: #8190a1;
    /*display: block;*/
    margin-top: 5px;
    font-size: 14px;
}
.card .card_footer {
    /*display: flex;*/

    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.card .duration {
    color: #8190a1;
    margin: 0 15px 0 5px;
    font-size: 13px;
}
.card .footer_icon {
    font-size: 20px;
    color: #8190a1;
}
.card_flex_display {
    /*display: flex;*/
    
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: column;
}
.card_flex {
    flex: 1;
    min-width: 1px;
}

.card_wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Course Details */
.breadcrumb_section {
    padding: 0.4em 0;
    background-color: #fff;
}
.breadcrumb_section .breadcrumb {
    margin: 0;
    background-color: transparent;
}
.breadcrumb > li > i.fa-circle{
    font-size: 6px;
    margin: 0 7px;
    position: relative;
    top: -3px;
    opacity: .4;
}
.breadcrumb > li + li::before {
    padding: 0 0px;
    color: transparent;
    content: "";
}
.breadcrumb > .active {
    color: #999;
    font-size: 13px;
}
.breadcrumb a {
    color: #666;
    font-size: 13px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:focus {
    outline: none;
    text-decoration: none;
}
.breadcrumb_section .back_btn {
   display: none; 
}
.grey_bg {
    background-size: 100%;
    background-image: -moz-linear-gradient(90deg, #333333,#838383); 
    background-image: -webkit-linear-gradient(90deg, #333333,#838383);
    background-image: linear-gradient(365deg, #333333,#838383);
}
.blue_bg {
    background-size: 100%;
    background-image: -moz-linear-gradient(90deg, #01538D,#00beff); 
    background-image: -webkit-linear-gradient(90deg, #01538D,#00beff);
    background-image: linear-gradient(369deg, #01538D,#00beff);
}
.yellow_bg {
    background-size: 100%;
    background-image: -moz-linear-gradient(320deg, #ffae00,#fcca50);
    background-image: -webkit-linear-gradient(320deg, #ffae00,#fcca50);
    background-image: linear-gradient(130deg, #ffae00,#fcca50);
}
.course_banner{
    min-height:250px;
    padding: 3em 0 1em;
    background-color: #333333;
}
.course_banner .left_content p {
    color: #fff;
    font-size: 16px;
}
.course_banner .right_content {
    width: 360px;
    left: auto;
    top: 10px;
}
.course_banner .right_content_inner {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    color: #333;
    margin-top: 12px;
    padding: 3px;
    position: absolute;
    width: calc(100% - 30px);
    z-index: 20;
}
.course_banner .course_feature {
    padding: 40px 30px;
}
.course_feature a {
    color: #fff;
    background-color: #1F8CDF;
    display: inline-block;
    width: 100%;
    padding: 16px 12px;
    font-size: 16px;
    text-align: center;
    line-height: 1.35135;
    border-radius: 2px;
}
.course_feature a:focus {
    text-decoration: none;
    outline: none;
}
.course_feature ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.course_feature h3 {
    font-weight: 600;
    font-size: 19px;
    margin: 10px 0 15px;
}
.course_feature h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
.course_feature li {
    font-size: 15px;
    display: flex;
    padding-bottom: 4px;
    font-weight: 300;
}
.course_feature .feature_icon {
    flex: 0 0 auto;
    min-width: 1px;
    margin-right: 6px;
    padding-top: 2px;
    width: 18px;
}
.course_feature .course_feature_bottom {
    margin-top: 25px;
}
.course_feature_xs {
    display: none;
}
.course_banner h1 {
    font-size: 36;
    line-height: 45px;
    color: #fff; 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 0 1em;
    padding: 0;
    text-transform: capitalize;
}
.detail_section {
    padding: 5em 0 8em;
    min-height: 450px;
}
.detail_section h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 15px;
}
.course_content {
    background-color: #f9f9f9;
    border: 1px solid #dedede;
    padding: 18px 25px;
}
.course_content p {
    line-height: 1.7;
    font-size: 15px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 1em;
}
/*-- Responsive design: Course, Course Detail --*/
@media(max-width: 1200px) {
    .course_section {
        padding: 5em 0 5em;
    }
    .card_group { 
        text-align:center
    }
    .card_group li{
        float:none;
        display:inline-block
    }
    .card {
        clear: left;
        margin-left: 18px !important;
    }
    .card .card_footer {
        display:inline-block;
    }

}
@media(max-width: 1199px) {
    .course_banner .left_content {
        width: 66.66666667%;
    }
    .course_banner .right_content {
        width: 33.33333333%;
    }
}
@media(max-width: 1024px) {
    .course_section {
        padding: 4em 0 5em;
    }
}
@media(max-width: 991px) {
    .course_banner h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .course_banner .course_feature {
        padding: 20px 10px;
    }
    .course_banner .left_content p {
        font-size: 15px;
    }
}
@media(max-width: 767px) {
    .course_banner .left_content p {
        font-size: 14px;
    }
    .back_btn a {
        color: #333;
        font-size: 15px;
    }
    .back_btn a:focus {
        outline: none;
        text-decoration: none;
    }
    .breadcrumb {
        display: none;
    }
    .breadcrumb_section .back_btn {
       display: block; 
        padding: 0.5em 0;
    } 
    .course_banner h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .course_banner {
        min-height: auto;
        padding: 1em 0 1em;
    }
    .course_banner .left_content {
        display: block;
        width: 100%;
    }
    .course_feature_xs {
        display: block;
        width: 100%;
        background-color: #EDEDED;
    }
    .course_feature_xs .panel-group {
        margin: 0;
    }
    .course_feature_xs .panel {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }
    .course_feature_xs .panel-body {
        padding-right: 0;
        padding-left: 0;
    }
    .course_feature_xs .panel-heading {
        padding: 0;
    }
    .course_feature_xs .panel-heading a {
        display: block;
    }
    .course_feature_xs .panel-heading a:focus {
        outline: none;
        text-decoration: none;
    }
    .course_feature_xs .panel-heading a span {
        font-size: 13px;
        margin-right: 4px;
    }
    .course_feature_xs .incentives {
        border-bottom: 1px solid #dedede;
    }
    .course_feature_xs li {
        display: block;
        margin-right: 10px;
        padding: 0.2em 0 0.2em;
    }
    .course_feature_xs h4 {
        font-size: 16px;
        padding: 1em 0;
    }
    .course_banner .right_content {
        display: none;
    }
    .course_content {
        background-color: #fff;
        border: none;
        padding: 0;
    } 
    .course_feature_xs_bottom a {
        color: #fff;
        background-color: #1F8CDF;
        display: inline-block;
        width: 100%;
        padding: 16px 12px;
        font-size: 15px;
        text-align: center;
        line-height: 1.35135;
        border-radius: 2px;
    }  
    .course_feature_xs_bottom a:focus {
        outline: none;
        text-decoration: none;
    }
    .course_feature_xs_bottom h3 {
        font-size: 17px;
        font-weight: 400;
        margin: 10px 0 7px;
    } 
}
@media (max-width:600px){
    .course_banner h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .card a{
        min-height:290px
    }
    .card {
        margin-left: 14px !important;
    }
}
@media (max-width: 480px) {
   .course_banner h1 {
        font-size: 26px;
        line-height: 35px;
    }
   .card {
        margin-left: 0px !important;
    }
}
@media (max-width: 360px) {
   .course_banner h1 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }

}
@media (max-width: 320px) {
    .course_feature_xs li {
        font-size: 13px;
    }
}
/*-- Events --*/
.upcoming_event_section, .event_detail_section {
    padding: 6em 0 6em;
    min-height: 500px;
}
.event_detail_section {
    padding: 5em 0 6em;
}
.upcoming_event_section h2, .event_detail_section h2, .contact_section h2 {
    font-size: 2.6em;
    color: #212121; 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 0 1em;
    padding: 0;
    text-transform: capitalize;
}
.event_detail_section .back_btn a {
    color: #333;
    font-size: 15px;
    display: block;
    margin-bottom:35px;
}
.event_card {
    position: relative;
    margin-bottom: 30px;
}
.event_card_inner {
    border-bottom: 1px solid #dedede;
    border-radius: 2px 2px 0 0;
    position: relative;
    padding-right: 30px;
    display: flex;
}
.event_card_inner_left {
    width: 100px;
    margin-right: 30px;
}
.event_card a {
    color: rgba(0,0,0,.8);
}
.event_card a:focus {
    outline: none;
    text-decoration: none;
}
.event_date {
    text-align: center;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 0 1px rgba(0,0,0,.2),0 4px 3px rgba(0,0,0,.15);
    border-radius: 0 0 10px 10px;
    line-height: 1;
}
.event_date .event_day {
    font-size: 28px;
    font-weight: 900;
    /*letter-spacing: 5px;*/
    display:block;
    padding: 3px 0 0;
}
.event_date .event_month {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    display:block;
    letter-spacing: 3px;
}
.event_date .event_year {
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
    display: block;
}
.calendar_top {
    padding: 4px 18px 4px;
    background-color: rgb(219, 31, 38);
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 10px;
}
.event_title {
    padding-top: 15px;
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 0px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.event_content {
    height: auto;
    flex: 1;
    min-width: 1px;
    align-items: stretch;
    display: flex;
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 1.7;
}
.event_detail_section h2 {
    font-size: 2.3em;
    margin: 0;
    line-height: 45px;
}
.event_detail_section .event_detail_date {
    margin: 1em 0 2em;
    color: #737373;
}
.event_detail_section .event_description {
    max-width:900px;
    /*background-color: red;*/
    padding:0 0 2em;
    font-size: 17px;
}
.event_detail_section p {
    margin-bottom: 20px;
    margin-top: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #212121;
}
.more_event_detail {
    display: none;
}
.event_footer {
    margin-top: 45px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-pack: justify;
}
.prev_event {
    left: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    z-index: 1;
}
.prev_event .fa-chevron-left {
    margin-right: 15px;
}
.next_event {
    right: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: flex-end;
    -ms-flex-pack: end;
    text-align: right;
    z-index: 1;
    text-align: right;
}
.next_event .fa-chevron-right {
    margin-left: 15px;
}
.prev_event, .next_event {
    color: #9a9a9b;
    position: relative;
    z-index: 2;
}
.prev_event b, .next_event b {
    color: #666;
}
.prev_event:hover, .next_event:hover {
    color: #666;
}
.prev_event:focus, .next_event:focus {
    outline: none;
    text-decoration: none;
}
.event_footer_title {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
   /* -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;*/
    /*-webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;*/
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
    /*background-color: red;*/
}
@media (max-width: 900px) {
    .event_detail_section .event_description {
        width:700px;
    }
    .event_detail_section h2 {
        font-size: 2.1em;
    }
}
@media (max-width: 768px) {
    .event_card_inner {
        padding-bottom: 45px;
    }
    .event_content {
        display: none;
    }
    .more_event_detail {
        display: block;
        padding: 5px 0 0; 
    }
    .more_event_detail a {
        font-size: 15px;
    }
}
@media (max-width:767px){
    .upcoming_event_section h2{
        font-size: 2.4em;
    }
    .event_detail_section h2 {
        font-size: 1.9em;
    }
    .event_detail_section .event_description {
        font-size: 16px;
        width:auto;
        padding-right: 30px;
        padding-left: 30px;
    }
    .event_detail_section {
        padding-top: 3em;
    }
    .event_card_inner_left {
        width: 90px;
        margin-right: 20px;
    }
    .event_date .event_day {
        font-size: 24px;
    }
    .event_date .event_month {
        font-size: 16px;
    }
    .event_title {
        font-size: 22px;
    }
}
@media (max-width:640px){
    .upcoming_event_section h2 {
        font-size: 2.1em;
    }
    .event_title {
        font-size: 19px;
    }
    .event_date .event_day {
        font-size: 21px;
    }
    .event_date .event_month {
        font-size: 15px;
    }
    .event_card_inner_left {
        width: 87px;
        margin-right: 16px;
    }
    .event_detail_section .event_description {
        padding-right: 20px;
        padding-left: 20px;
    }
    .event_detail_section h2 {
        font-size: 1.6em;
        line-height: 33px;
    }
}
@media (max-width:480px){
    .event_title {
        font-size: 17px;
    }
    .event_card_inner_left {
        width: 85px;
        margin-right: 12px;
    }
    .event_date .event_day {
        font-size: 19px;
    }
    .event_date .event_month {
        font-size: 14px;
    }
    .event_detail_section .event_description {
        font-size: 15px;
        padding-right: 18px;
        padding-left: 18px;
    }
    .event_detail_section h2 {
        font-size: 1.5em;
    }
}
@media (max-width:414px){
    .event_card_inner {
        display: block;
        text-align: center;
    }
    .event_card_inner_left {
        width: 85px;
        /*margin-right: 12px;*/
        display: block;
        margin: 0 auto;
    }
    .event_title {
        font-size: 16px;
        font-weight: 500;
    }
    .upcoming_event_section h2 {
        text-align: center;
        margin-bottom: 1.5em;
    }
    .upcoming_event_section h2::before, .upcoming_event_section h2::after {
        width: 30px;
        content: "";
        position: relative;
        height: 1px;
        top: -10px;
        display: inline-block;
        background: #212121;
        overflow: hidden;
    }
    .upcoming_event_section h2::before {
        margin-right: 15px;
    }
    .upcoming_event_section h2::after {
        margin-left: 15px;
    }
}
/*-- About Section --*/
.about_banner {
    background:url(../img/about-banner.jpg)no-repeat center bottom;
     background-position: 0 0px;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover;
    -ms-background-size:cover;  
    background-size:cover;
    min-height: 300px;

}
.about_banner .tint_layer {
    background: rgba(31, 140, 223, 0.2);
    min-height: 300px;
}
.about_banner .section_title {
    text-align: center;
    color:#fff;
    margin-top: 4em;
}
.about_banner .section_title h2 {
    color:#fff;
}
.about_banner .section_title h2::before, .about_banner .section_title h2::after {
    background-color: #fff;
}
.about_section {
    padding: 6em 0 6em;
}
.about_section h2 {
    font-size: 2.6em;
    color: #212121; 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 0 .5em;
    padding: 0;
    text-transform: capitalize;
}
.about_section p {
    line-height: 1.7;
    font-size: 17px;
    margin-bottom: 60px;
}
@media(max-width: 991px) {
    .about_section {
        padding: 4em 0 1em;
    }
    .about_section .about_img {
        margin-bottom: 50px;
    }
    .about_section h2 {
        font-size: 2em;
    }
}
/*--Alumin Section --*/
.alumni_section {
    background:url(../img/alumni-bg.jpg)no-repeat center bottom;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover;
    -ms-background-size:cover;  
    background-size:cover;
    background-attachment: fixed;
}
.alumni_section .tint_layer {
    background: rgba(31, 140, 223, 0.6);
    padding: 6em 0 6em;
}
.alumni_section h2 {
    text-align: center;
    position: relative;
    color: #fff;
}
.alumni_section .section_title h2::before, .alumni_section .section_title h2::after {
    background-color: #fff;
}

.alumin_inner h5{
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-transform: none;
    margin-top: 1em;    
}
.alumni_review p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.2em;
    margin: 1em 0;
    padding: 22px 25px;
    color: #eee;
    background: rgba(0, 0, 0, 0.4);
}
.alumni_review img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -o-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
}
.alumni_review p img {
    margin: 0 10px!important;
    box-shadow:none;
}
.alumni_review img {
    margin: 0 auto;
}
.alumni_img {
    margin: 30px 0px 12px;
}
.alumni_img img {
    width: 20%;
}
@media(max-width:1080px){
    .alumni_review p {
        font-size: 15px;
        line-height: 2em;
    }
    .alumni_img img {
        width: 16%;
    }
}
@media(max-width:991px){
    .alumni_section {
        background-attachment: scroll;
    }
    .alumin_inner h5 {
        font-size: 18px;
    }
    .alumni_review p {
        font-size: 14px;
        padding: 15px 25px;
    }
}
@media(max-width:768px){
    .alumin_inner h5 {
        margin-top: 13px;
    }
}
@media(max-width:667px){
    .alumin_inner h5 {
        font-size: 17px;
    }
    .alumni_review p img {
        width: 24px;
    }
}
@media(max-width:640px){
    .alumni_review p {
        line-height: 26px;
    }
    .alumni_review p {
        font-size: 13px;
        padding: 15px 15px;
    }
    .alumni_review p {
        font-size: 13px;
        padding: 15px 15px;
    }
    .alumni_img {
        margin: 20px 0px 0px;
    }
}
@media(max-width:568px){
    .alumni_img img {
        width: 23%;
    }
}
@media(max-width:384px){
    .alumni_img img {
        width: 31%;
    }
}
@media(max-width:375px){
    .alumni_review p {
        font-size: 13px;
        padding: 11px 13px;
    }
}

/*-- Quick Contact --*/
.quick_contact {
    padding: 6em 0 6em;
    background-color: rgba(51, 51, 51, 0.09);
}
.quick_contact h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin-bottom: 10px;
    color: #212121;
}
.quick_contact a {
    border: 2px solid #1F8CDF;
    border-radius: 30px;
    padding: 12px 18px;
    background-color: transparent;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: #1F8CDF;
}
.quick_contact a:focus{
    outline: none;
    text-decoration: none;
}
.quick_contact a:hover {
    background-color: #1F8CDF;
    color: #fff;
}
@media(max-width:767px){
    .quick_contact {
        text-align: center;
    }
    .quick_contact h2 {
        font-size: 2.1em;
    }
    .quick_contact a {
        padding: 10px 13px;
    }
}
@media(max-width:424px){
    .quick_contact h2 {
        font-size: 2em;
        margin-bottom: 20px;   
    }
    .quick_contact a {
        display: block;
        margin-top: 20px;
    }
}
@media(max-width:360px){
    .quick_contact h2 {
        font-size: 1.7em;
    }
    .quick_contact a {
        font-size: 15px;
    }
}
@media(max-width:320px){
    .quick_contact a {
        margin-top: 17px;
    }
}

/*-- Footer --*/
.footer {
    background-color: #333;
    padding: 1em 0 1em;
}
.footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .footer_quick_link li {
    display: inline-block;
    float: none;
    margin-right: 16px;
}
.footer .footer_quick_link li:last-child {
    margin-right: 0;
}
.footer li a {   
    color: #fff;
    font-size:16px;
    font-weight: 400;
}
.footer li a:hover {
    text-decoration: underline;
}
.footer p {
    color: #999;
    font-weight: 400;
    padding: 10px 0 0;
}
.footer a {
    color: #999;
}
.footer .copyright {
    text-align: right;
}
.footer .footer_social_icon {
    margin:0;
    text-align: right;
    padding-right: 19px;
    display: inline-block;
}
.footer .footer_social_icon a {
    font-size: 1.3em;
    color: #fff;
    line-height: 1.3;
    margin: 0 0 0 1em;
} 
.footer .footer_social_icon a:hover {
    color: #999;
}
.footer .footer_social_icon span {
    color: #fff;
    font-size: 16px;
}
@media(max-width:767px){
    .footer {
        padding: 2em 0;
    }
    .footer ul {
        display: block;
    }
    .footer .footer_quick_link a, .footer .footer_social_icon a {
        font-size: 14px;
    }
    .footer .footer_quick_link, .footer .footer_social_icon, .footer p {
        display: block;
        padding: 6px 0;
        text-align: center;
        line-height: 1.5;
    }
    .footer p {
        margin: 0;
    }

}

/*-- contact --*/
.contact_section {
    padding: 7em 0em 6em;
}
.contact_section input[type="text"], .contact_section input[type="email"] {
    border: 2px solid #ccc;
    box-shadow: none;
    border-radius: 3px;
    padding: 10px 15px;
    height: 44px;
    font-size: 16px;
    color: #555;
}
.contact_section textarea {
    border: 2px solid #ccc;
    box-shadow: none;
    border-radius: 3px;
    height: 200px;
    padding: 10px 15px;
    font-size: 16px;
    color: #555;
    resize: none;
}
/*.contact_section input[type="text"]:focus, .contact_section input[type="email"]:focus {
    border: 1px solid #1F8CDF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}*/
.contact_section textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #ccc;
}
.contact_section button {
    padding: 10px 15px;
    display: inline-block;
    width: 100px;
    border-radius: 3px;
    background-color: #1F8CDF;
    text-transform: uppercase;
}
.contact_section button:hover, .contact_section button:focus {
    background-color: #1766a6;
    outline: none;
}
.contact_section h2{
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 0.5em;
    font-size: 2.6em;
    font-weight: 300;
    line-height: 1.6;
}
.contact_section h3{
    color: #212121;
    text-transform: capitalize;
    margin: 1.5em 0 0.5em;
    font-size: 1.4em;
}
.contact_section p{
    margin: 0 0 0.8em;
    line-height: 1.6em;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    width: 290px;
}
.contact_section p span {
    font-weight: 400;
    margin-bottom: 0.5em;
    color: #212121;
}
.contact_section .social_icon {
    float: left;
    margin:0;
    padding: 0;
}
.contact_section .social_icon a {
    font-size: 1.3em;
    color: #555;
    display: inline-block;
    padding: 0;
    line-height: 2.2em;
    margin: 0 1.5em 0 0;
} 
.map iframe{
    width:100%;
    min-height:400px;
    display: block;
}

/* -- Responsive Design: Contact Sectio -- */
@media (max-width: 767px) {
    .contact_section {
        padding: 3em 0em 4em;
    }
    .contact_section .phone {
        width: 49%;
        display: inline-block;
        margin-right: 1%;
    }
    .contact_section .email {
        width: 49%;
        display: inline-block;
        margin-right: 1%;
        float: right;
    }
    .contact_section h3 {
        margin: 0.3em 0 0.5em;
    }
    .contact_section .social_icon {
        margin-bottom: 3em;
    }
}
@media (max-width: 480px) {
    .contact_section .email, .contact_section .phone {
        width: 100%;
        display: block;
        margin-right: 0%;
        float: none;
    }
}
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 35px;
	height: 35px;
	border: none;
	text-indent: 100%;
	background: url("../img/move-up.png") no-repeat 0px 0px;
}
#toTop:focus {
    outline: none;
}
#toTopHover {
	width: 35px;
	height: 35px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}