.header_scholarship  {
    background: rgba(87, 170, 142, 0.7) !important;
    border-top: 4px solid rgb(55, 88, 70) !important; 
}
.scholarship {
    padding: 0;
    background-color: #EDEDED;
    min-height: 620px;
}
.scholarship .reg_form_container {
    position: fixed; 
    bottom: 0; 
    right: 30px;
    background-color: #fff;
    box-shadow: 0 0px 7px rgba(0,0,0,.2),0 2px 3px rgba(0,0,0,.15);
    border-radius: 4px 4px 0 0;
    width: 370;
    z-index: 100;
}
.scholarship .reg_form {
    padding: 45px 45px 0px;
    height: 465px;    
}
.scholarship .reg_form_container:hover {
    box-shadow: 0 4px 20px 5px rgba(0,0,0,.12);
}
.reg_form .row {
    margin-bottom: 8px;
}
.reg_form .help-block {
    display: none !important;
}
.scholarship .hide_btn {
    font-size: 18px;
    color: #EDBB47;
    cursor: pointer;
    padding: 3px;
}
.scholarship .apply_btn {
    position: fixed; 
    bottom: 0; 
    right: 30px; 
    width: 348px; 
    padding: 10px 0;
    border-radius: 4px 4px 0 0;
    z-index: 1;
    background-color: #EDBB47;
    font-size: 16px;
    color: #fff;
}
.scholarship .apply_btn:focus {
    outline: none;
}
.scholarship h2 {
    font-size: 2.4em;
    color: #212121; 
    font-family: 'Lato', sans-serif;
    font-weight:300;
    margin: 0 0 0.6em;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
}
.scholarship input[type="text"], .scholarship input[type="email"] {
    padding-top: 9px;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    color: #555;
    font-family: 'Roboto', sans-serif;
}
.scholarship .select {
    padding-top: 9px;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    color: #555;
    font-family: 'Roboto', sans-serif;
}
.scholarship input[type="text"]:focus, .scholarship input[type="email"]:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.scholarship button {
    padding: 12px 15px;
    display: block;
    width: 100%;
    border-radius: 4px;
    background-color: #EDBB47;
    text-transform: uppercase;
    border: 1px solid #E5AB38;
    color: #fff;
}
.scholarship button:hover {
    background-color: #E5AB38;
    border: 1px solid #E5AB38;
    color: #fff;
}
.scholarship button:focus {
    outline: none;
    background-color: #C2832C;
    color: #fff;
}
.notification_bar {
    padding: 0;
    cursor: pointer;
}
.notification_bar .note.note-info {
    background-color: rgba(249, 228, 145, 0.4);
    border-color: transparent;
    color: #c29d0b;
}
.notification_bar .note {
    padding: 10px 11px 10px 11px;
    border-left: 5px solid #eee;
    border-radius: 0;
    text-align: center;
}
.notification_bar .note h4 {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #a58401;
}
.notification_bar p {
    font-size: 15px;
    display: inline;
    color: #c29d0b;
}
.notification_bar p span {
    font-weight: 400;
}

@media(max-width:1280px){
    .scholarship {
        min-height: 590px;
    }
}
@media(max-width:1180px){
    .scholarship {
        min-height: 530px;
    }
}
@media(max-width:1080px){
    .scholarship {
        min-height: 500px;
    }
}
@media(max-width:1024px){
    .scholarship {
        min-height: 800px;
    }
    .reg_form .row {
        margin-bottom: 8px;
    }
}
@media(max-width:640px){
    .scholarship {
        min-height: 450px;
    }
    .scholarship .reg_form_container {
        bottom: 0; 
        right: 65px;
    }
    .reg_form .row {
        margin-bottom: 4px;
    }
    .scholarship .reg_form {
        padding: 23px 35px 0px;
        height: 385px;    
    }
    .scholarship .apply_btn {
        width: 294px;
        right: 63px; 
    }
    .scholarship h2 {
        font-size: 1.9em;
    }
    .notification_bar .note {
        padding: 9px 7px 9px 7px;
    }
    .notification_bar .note h4 {
        margin-right: 8px;
        font-size: 14px;
    }
    .notification_bar p {
        font-size: 14px;
    }
      .scholarship input[type="text"], .scholarship input[type="email"] {
        /* padding: 4px 5px; */
        /* height: 38px; */
        font-size: 14.5px;
    }
    .scholarship .select {
        font-size: 14.5px;
    }
    .scholarship button {
        padding: 10px;
    }
}
@media(max-width:414px){
    .scholarship {
        min-height: 190px;
    }
    .scholarship .reg_form_container {
        bottom: 0; 
        right: 70px;
    }
    .scholarship .reg_form {
        height: 390px;    
    }
    .scholarship .apply_btn {
        bottom: 0; 
        right: 0px; 
        width: 100%;
        display: block;
        border-radius: 0; 
        padding: 15px 0;
    }
}
@media(max-width:375px){
    .scholarship .reg_form_container {
        bottom: 0; 
        right: 45px;
    }
}
@media(max-width:360px){
    .scholarship {
        min-height: 150px;
    }
    .scholarship .reg_form {
        padding: 25px 30px 0px;
        height: 400px;    
    }
    .notification_bar .note h4 {
        margin-right: 8px;
        font-size: 14px;
    }
    .notification_bar p {
        font-size: 14px;
    }
      .scholarship input[type="text"], .scholarship input[type="email"] {
        font-size: 14px;
    }
    .scholarship .select {
        /* padding: 2px 4px; */
        /* height: 37px; */
        font-size: 14px;
    }
    .scholarship button {
        padding: 10px;
    }
}
@media(max-width:320px){
    .scholarship {
        min-height: 150px;
    }
    .scholarship .reg_form_container {
        bottom: 0; 
        right: 33px;
    }
    .scholarship .reg_form {
        padding: 20px 20px 0px;
        height: 357px;    
    }
    .scholarship .apply_btn {
        padding: 13px 0;
    }
    .scholarship h2 {
        font-size: 1.6em;
    }
    .notification_bar .note {
        padding: 2px 3px 3px 2px;
    }
    .notification_bar .note h4 {
        margin-right: 5px;
        font-size: 13px;
    }
    .notification_bar p {
        font-size: 13px;
    }
}