<!-- START PAGE-CONTAINER -->
<div class="page-container" ng-class="{'bg-white':is('app.calendar')}">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper" ng-class="{'full-height': includes('app.email') || includes('app.calendar') }" ng-hide="is('app.builder')">
        <!-- START PAGE CONTENT -->
        <div class="content" ng-class="{
            'overlay-footer top-left bottom-right': is('app.maps.google') || is('app.maps.vector'), 
            'full-height' : includes('app.email')
        }">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-transparent">
                            <div class="col-xs-height p-l-20">
                                <h1 class="no-margin"><img src="{{logo}}" width="160" height="30" /></h1>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-linetriangle" >
                                <li>
                                    <a></a>
                                </li>

                                <li class="pull-right" ng-class="{'active': is('app.contact')}">
                                    <a data-toggle="tab" ui-sref="app.contact"><span>Contact Us</span></a>
                                </li>
                                <!--<li class="pull-right" ng-class="{'active': is('app.products')}">
                                    <a data-toggle="tab" ui-sref="app.products"><span>Products</span></a>
                                </li>-->
                                <li class="pull-right" ng-class="{'active': is('app.calendar')}">
                                    <a data-toggle="tab" ui-sref="app.calendar"><span>Calendar</span></a>
                                </li>
                                <li class="pull-right" ng-class="{'active': is('app.courses')}">
                                    <a data-toggle="tab" ui-sref="app.courses"><span>Courses</span></a>
                                </li>
                                <li class="pull-right" ng-class="{'active': is('app.home')}">
                                    <a data-toggle="tab" ui-sref="app.home"><span>Home</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="full-height full-width" ui-view></div>
                    </div>
                    <div class="col-md-4">
                        <div class="full-height" ng-include=" 'tpl/blocks/news.html' "></div>
                    </div>
                </div>
            <div ng-if="!(includes('app.calendar'))" ng-include=" 'tpl/blocks/footer.html'"></div>
        </div>
    <!-- END PAGE CONTENT WRAPPER -->
    </div>
</div>
<!-- END PAGE CONTAINER -->

<!-- START OVERLAY -->
<div ng-include src=" 'tpl/blocks/quick_search.html' " include-replace></div>
<!-- END OVERLAY -->
<!-- START MODALS -->
<div ng-if="includes('app.ui.modals')" ng-include src=" 'tpl/blocks/modals.html' " include-replace></div>
<!-- END MODALS -->