<header>
    <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="covervid-wrapper" style="overflow: hidden;">
                <video class="covervid-video" autoplay="autoplay" loop="" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: auto; width: 1349px;"><source src="assets/videos/bg.mp4" type="video/mp4"></video>
            </div>
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a href="#"><img src="{{logo}}" alt="NIIT Logo"></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                    <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
                </div>
            </div>
            <div class="row hero-content">
                <div class="col-md-12">
                    <h1 class="animated fadeInDown">{{company.slogan}}</h1>
                    <a href="#about" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
                    <p>
                        <span><a href="{{app.facebook}}"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                        <span><a href="{{app.twitter}}"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                        <span><a href="{{app.linkedin}}"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                        <span><a href="{{app.medium}}"><i class="fa fa-medium"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</header>

<!--<section class="video" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1><a href="http://www.youtube.com/embed/9No-FiEInLA?autoplay=1&wmode=opaque&fs=1" class="youtube-media"><i class="fa fa-play-circle-o"></i> Welcome to NIIT</a></h1>
            </div>
        </div>
    </div>
</section>-->
<section class="features-intro" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 nopadding features-intro-img">
                <div class="features-bg">
                    <div class="texture-overlay"></div>
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <div class="features-slider">
                        <ul class="slides" id="featuresSlider">
                            <li>
                                <h1>About {{app.name}}</h1>
                                <p>
                                    NIIT established its presence in Nigeria in 1999 and since then affirmed
                                    its support to prepare the youth in the country for lucrative IT careers. NIIT trains over 16,000 students in Nigeria every year
                                    and has shaped the careers of over 160,000 students in the past 16 years. Now NIIT has operational centres in Abuja and Kaduna and
                                    is acknowledged as the undisputed leader in the country's IT training and education segment.
                                </p>
                            </li>
                            <!--<li>
                                <h1>Why NIIT</h1>
                                <p>
                                    <ul>
                                        <li>NIIT has been featured as the 'Most Respected Education Company, 2016' by Business World.</li>
                                        <li>NIIT has been ranked globally among Top 20 Companies in Training Outsourcing by Training Industry, Inc.</li>
                                        <li>NIIT has been awarded the 'Best Innovation Brand' in the Education sector at the ASSOCHAM National Brand
                                        Summit &amp; Excellence Awards 2016.</li>
                                        <li>NIIT has been recognized as the 'Best Institute - Innovation, 2016' by ASSOCHAM</li>
                                        <li>NIIT honoured with 31 Brandon Hall Awards for Corporate Training.</li>
                                        <li>NIIT received 8 'Brandon Hall Group Excellence Award 2015' jointly with Shell, GE, MetLife, Zurich North America and Westfied
                                        Insurance.</li>
                                        <li>NIIT has been ranked #22 Gold LearningElite member of the CLO Learning Elite 2016 list.</li>
                                        <li>NIIT continues to pioneer in providing latest technology digital transformation training program like BIG DATA, Java with
                                        DevOps, Digital.</li>
                                        <li>Highly experienced and certified instructors.</li>
                                        <li>Globally recognized certification.</li>
                                        <li>Global leader in IT training &amp; Africa's largest IT Training Provider.</li>
                                    </ul>
                                </p>
                            </li>-->
                            <li>
                                <h1>About NIIT</h1>
                                <p>
                                    Established in 1981, NIIT Limited, a global leader in Skills and Talent Development, offers multi-disciplinary
                                    learning management and training delivery solutions to corporations, institutions, and individuals in over 40
                                    countries. NIIT has three main lines of business across the globe- Corporate Learning Group, Skills and Careers Group,
                                    and School Learning Group.
                                </p>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-list" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div ng-repeat="course in featuredCourses" class="col-md-4"
                     ng-class="'feature-1': $index==0, 'feature-2 delay-05s': $index==1, 'feature-3 delay-1s': $index==2">
                    <div class="feature-icon">
                        <i class="{{course.icon}}"></i>
                    </div>
                    <div class="feature-content">
                        <h1>{{course.title}}</h1>
                        <!--<p>{{course.description}}</p>-->
                        <a ng-if="course.more" href="{{course.more}}" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>

                <p><a ui-sref="app.courses" class="arrow-btn">See all courses <i class="fa fa-long-arrow-right"></i></a></p>

            </div>
        </div>
    </div>
</section>

<section class="screenshots" id="activities">
    <div class="container-fluid">
        <div class="row">
            <ul class="grid">
                <li>
                    <figure>
                        <img src="assets/img/temp/conducive.jpg" alt="conducive.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Conducive learning environment</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/temp/practical.jpg" alt="practical.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Practical approach to learning</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/temp/trainer.jpg" alt="trainer.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Interact with world class trainers</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/temp/cert.jpg" alt="cert.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Globally-recognized NIIT certification</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="grid">
                <li>
                    <figure>
                        <img src="assets/img/temp/skills.jpg" alt="skills.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Gain highly employable skills</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/temp/experience.jpg" alt="experience.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Gain real-world experience</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/temp/trends.jpg" alt="trends.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Keep up with industry trends</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="assets/img/temp/workshop.jpg" alt="workshop.jpg">
                        <figcaption>
                        <div class="caption-content">
                            <p class="text-white">Partake in regular free ICT workshops</p>
                        </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="screenshots-intro" id="events">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Events</h1>
                <div ng-repeat="event in featuredEvents" class="scrollable col-md-4">
                    <div class="p-t-15">
                        <input id="eventIndex" name="eventIndex" type="hidden">
                        <div class="form-group-attached">
                          <div class="row clearfix">
                            <div class="form-group form-group-default">
                              <img class="form-control" id="imgEventImg" style="height: 200px;" src="{{event.other.img.src}}" />
                            </div>
                          </div>
                          <div class="form-group form-group-default ">
                            <label>Title</label>
                            {{event.title}}
                          </div>
                          <div class="form-group form-group-default ">
                            <label>Time</label>
                            <span id="lblfromTime">{{event.start}}</span> to <span id="lbltoTime">{{event.end}}</span>
                          </div>
                          <div class="form-group form-group-default ">
                            <label>Location</label>
                            {{event.other.location}}
                          </div>
                          <div class="row clearfix">
                            <div class="form-group form-group-default">
                              <label>Message</label>
                              {{event.other.message}}
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <br /><p><a ui-sref="app.calendar" class="arrow-btn">See calendar <i class="fa fa-long-arrow-right"></i></a></p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>News</h1>
                <div ng-repeat="item in featuredNews" class="card share share-other col1" data-social="item">
                    <div ng-if="item.image" class="card-content">
                        <a ng-if="item.largeImage" href="{{item.largeImage}}" target="_blank"><img src="{{item.image}}"></a>
                        <a ng-if="!item.largeImage" href="{{item.image}}" target="_blank"><img src="{{item.image}}"></a>
                    </div>
                    <div class="card-description">
                        <p>{{item.message}}</p>
                    </div>
                    <div ng-if="item.links && item.links.length>0" class="card-footer clearfix">
                        <div ng-repeat="link in item.links"><a href="{{link.url}}" target="_blank">{{link.text}}</a></div>
                    </div>
                </div>

                <br /><p><a href="{{app.medium}}" class="arrow-btn">See more on our blog <i class="fa fa-long-arrow-right"></i></a></p>

            </div>
        </div>
    </div>
</section>

<!--<section class="showcase" id="alumni">
    <div class="showcase-wrap">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="device">
                        <div class="device-content">
                            <div class="showcase-slider">
                                <ul class="slides" id="showcaseSlider">
                                    <li>
                                        <img src="{{featuredAlumnus.slides[0]}}" alt="Device Content Image">
                                    </li>
                                    <li>
                                        <img src="{{featuredAlumnus.slides[1]}}" alt="Device Content Image">
                                    </li>
                                    <li>
                                        <img src="{{featuredAlumnus.slides[2]}}" alt="Device Content Image">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>What Our Alumni Are Doing</h1>
                    <p>{{featuredAlumnus.message}}</p>
                    <blockquote class="team-quote">
                        <div class="avatar"><img src="{{featuredAlumnus.avatar}}" alt="User Avatar"></div>
                        <p>{{featuredAlumnus.bio}}</p>
                    </blockquote>
                    <a ng-if="featuredAlumnus.website" href="{{featuredAlumnus.website}}" class="download-btn">Visit website</a>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section class="features-intro" id="alumni">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 nopadding features-intro-img">
                <div style="position: relative;min-height: 400px;background: url('{{featuredAlumnus.cover}}') no-repeat center center;background-size: cover;">
                    <div class="texture-overlay"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>What Our Alumni Are Doing</h1>
                <h3>{{featuredAlumnus.name}}</h3>
                <p>{{featuredAlumnus.bio}}</p>
                <blockquote class="team-quote">
                    <p>{{featuredAlumnus.message}}</p>
                </blockquote>
                <a ng-if="featuredAlumnus.website" href="{{featuredAlumnus.website}}" class="download-btn">Visit website</a>
            </div>
            <!--<div class="col-md-6 nopadding">
                <div class="features-slider">
                        <ul class="slides" id="featuresSlider">
                            <li>
                                <h1>About {{app.name}}</h1>
                                <p>
                                    NIIT established its presence in Nigeria in 1999 and since then affirmed
                                    its support to prepare the youth in the country for lucrative IT careers. NIIT trains over 16,000 students in Nigeria every year
                                    and has shaped the careers of over 160,000 students in the past 16 years. Now NIIT has operational centres in Abuja and Kaduna and
                                    is acknowledged as the undisputed leader in the country's IT training and education segment.
                                </p>
                            </li>
                            <li>
                                <h1>Why NIIT</h1>
                                <p>
                                    <ul>
                                        <li>NIIT has been featured as the 'Most Respected Education Company, 2016' by Business World.</li>
                                        <li>NIIT has been ranked globally among Top 20 Companies in Training Outsourcing by Training Industry, Inc.</li>
                                        <li>NIIT has been awarded the 'Best Innovation Brand' in the Education sector at the ASSOCHAM National Brand
                                        Summit &amp; Excellence Awards 2016.</li>
                                        <li>NIIT has been recognized as the 'Best Institute - Innovation, 2016' by ASSOCHAM</li>
                                        <li>NIIT honoured with 31 Brandon Hall Awards for Corporate Training.</li>
                                        <li>NIIT received 8 'Brandon Hall Group Excellence Award 2015' jointly with Shell, GE, MetLife, Zurich North America and Westfied
                                        Insurance.</li>
                                        <li>NIIT has been ranked #22 Gold LearningElite member of the CLO Learning Elite 2016 list.</li>
                                        <li>NIIT continues to pioneer in providing latest technology digital transformation training program like BIG DATA, Java with
                                        DevOps, Digital.</li>
                                        <li>Highly experienced and certified instructors.</li>
                                        <li>Globally recognized certification.</li>
                                        <li>Global leader in IT training &amp; Africa's largest IT Training Provider.</li>
                                    </ul>
                                </p>
                            </li>
                            <li>
                                <h1>About NIIT</h1>
                                <p>
                                    Established in 1981, NIIT Limited, a global leader in Skills and Talent Development, offers multi-disciplinary
                                    learning management and training delivery solutions to corporations, institutions, and individuals in over 40
                                    countries. NIIT has three main lines of business across the globe- Corporate Learning Group, Skills and Careers Group,
                                    and School Learning Group.
                                </p>
                            </li>
                        </ul>
                </div>
            </div>-->
        </div>
    </div>
</section>

<section class="download" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Interested?</h1>
                <a ui-sref="app.contact" class="download-btn">Contact Us <i class="fa fa-phone"></i></a>
            </div>
        </div>
    </div>
</section>

<div ng-include=" 'tpl/blocks/footer.html'"></div>

<div class="overlay overlay-boxify">
    <nav>
        <ul>
            <li><a href="#about"><i class="fa fa-info"></i>About</a></li>
        </ul>
        <ul>
            <li><a href="#courses"><i class="fa fa-university"></i>Courses</a></li>
        </ul>
        <ul>
            <li><a href="#activities"><i class="fa fa-flash"></i>Activities</a></li>
        </ul>
        <ul>
            <li><a href="#events"><i class="fa fa-calendar"></i>Events</a></li>
        </ul>
        <ul>
            <li><a href="#alumni"><i class="fa fa-flash"></i>Alumni</a></li>
        </ul>
        <ul>
            <li><a href="#contact"><i class="fa fa-calendar"></i>Contact Us</a></li>
        </ul>
    </nav>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/plugins/boxify/js/min/toucheffects-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/plugins/boxify/js/flickity.pkgd.min.js"></script>
<script src="assets/plugins/boxify/js/jquery.fancybox.pack.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/plugins/boxify/js/retina.js"></script>
<script src="assets/plugins/boxify/js/waypoints.min.js"></script>
<script src="assets/plugins/boxify/js/bootstrap.min.js"></script>
<script src="assets/plugins/boxify/js/min/scripts-min.js"></script>